@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
  }

    body {
        background-color: #000000;
    }

    header{
        background-color: #FF8000; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto auto;
        width: 100%;
        height: auto;
    }

    header img {
        width: 30%
    }

    header nav ul {
        display: flex;
        list-style: none;
    }
    
    header nav ul li {
        margin-right: 50px;
    }

    header nav ul li a {
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        color: #000;
    }

    .contenedorPrincipal {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: auto;
        margin: 50px 0; 
    }
    
    .contenedor {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        margin: auto 0; 
    }

    .info h2 {
        text-transform: uppercase;
        color: #FF8000;
    }

    .info p {
        color: #FF8000;
    }
    
    .mapa h2 {
        text-transform: uppercase;
        color: #FF8000;
    }
    
    .mapa p {
        color: #FF8000;
    }
    
    .mapa iframe {
        width: 400px;
        height: 400px;
        border-radius: 20px;
    }


    .contenedorContacto {   
        display: flex;
        flex-direction: column; 
        justify-content: center;
        width: 100%;
        height: auto;
        margin: 50px 0;
    }
    
    .contacto {
        display: flex;
        align-items: center;
        width: 100%;
        height: auto;
        margin: 10px 0;
    }
    
    .contacto img {
        width: 40px;
        margin: 0 20px;
    }